@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --toast-background: 222.2 84% 4.9%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --dashboard-blue: #e0f2fe;
    --dashboard-green: #dcfce7;
    --dashboard-indigo: #e0e7ff;
    --dashboard-orange: #fef9c3;

    --dashboard-text-blue: #0369a1;
    --dashboard-text-green: #15803d;
    --dashboard-text-indigo: #4338ca;
    --dashboard-text-orange: #a16207;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --dashboard-blue: #075985;
    --dashboard-green: #166534;
    --dashboard-indigo: #3730a3;
    --dashboard-orange: #854d0e;

    --dashboard-text-blue: #e0f2fe;
    --dashboard-text-green: #dcfce7;
    --dashboard-text-indigo: #e0e7ff;
    --dashboard-text-orange: #fef9c3;
  }
}

@layer base {
  * {
    @apply z-[1] border-border;
    .scroll-gutter-both {
      scrollbar-gutter: stable both-edges;
    }

    ::-webkit-scrollbar {
      width: 7px; /* Set the width of the scrollbar */
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: hsl(var(--primary)); /* Customize the thumb color */
    }
    ::-webkit-scrollbar-track {
      background-color: transparent; /* Customize the track color */
    }
  }
  body {
    @apply bg-background font-sans text-foreground;
  }
  .phone-fields {
    @apply w-8 xs:w-10 sm:w-7 md:w-8 lg:w-10;
  }
}

@layer utilities {
  @keyframes dialogOpen {
    from {
      -webkit-transform: translate(-50%, -50%) translateZ(0)
        scale3d(1.048, 1.048, 1.048);
    }
    to {
      -webkit-transform: translate(-50%, -50%) translateZ(0) scale3d(1, 1, 1);
    }
  }
  @keyframes dialogClose {
    from {
      -webkit-transform: translate(-50%, -50%) translateZ(0) scale3d(1, 1, 1);
    }
    to {
      -webkit-transform: translate(-50%, -50%) translateZ(0)
        scale3d(1.048, 1.048, 1.048);
    }
  }

  .dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) translateZ(0)
      scale3d(1.048, 1.048, 1.048);
    opacity: 0;
    /* perspective: 100px; */
    /* filter: blur(0) !important; */

    visibility: hidden;
    /* filter: inherit; */
    transition:
      transform 300 cubic-bezier(0.16, 1, 0.3, 1),
      opacity 400ms cubic-bezier(0.16, 1, 0.3, 1),
      visibility 0s linear 0s;
    backface-visibility: hidden; /* Improve rendering performance */
    -webkit-font-smoothing: subpixel-antialiased;
    will-change: transform; /* Inform browser about possible changes */
  }
  .dialog-open {
    animation: dialogOpen 400ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
    visibility: visible;
    opacity: 1;
  }

  .dialog-closed {
    animation: dialogClose 150ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
    visibility: hidden;
    opacity: 0;
    transition:
      150ms cubic-bezier(0.16, 1, 0.3, 1),
      visibility 0s linear 150ms;
  }

  .main__heading {
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 0.75em;
    text-align: center;
    color: #eceff1;
  }
  .card-1 {
    background-color: hsla(165, 82.26%, 51.37%, 0.15);
    border-color: hsla(165, 82.26%, 51.37%, 1);
    box-shadow: 0 0 0 1px inset hsl(165, 82.26%, 51.37%);
  }

  .card-2 {
    background-color: hsla(291.34, 95.9%, 61.76%, 0.15);
    border-color: hsla(291.34, 95.9%, 61.76%, 1);
    box-shadow: 0 0 0 1px inset hsl(291.34, 95.9%, 61.76%);
  }

  .card-3 {
    background-color: hsla(338.69, 100%, 48.04%, 0.15);
    border-color: hsla(338.69, 100%, 48.04%, 1);
    box-shadow: 0 0 0 1px inset hsl(338.69, 100%, 48.04%);
  }

  .card-1 .btn {
    background-color: hsl(165, 82.26%, 51.37%);
    box-shadow: 0 0 0 1px hsl(165, 82.26%, 51.37%);
  }

  .card-2 .btn {
    background-color: hsl(291.34, 95.9%, 61.76%);
    box-shadow: 0 0 0 1px hsl(291.34, 95.9%, 61.76%);
  }
  .card-3 .btn {
    background-color: hsl(338.69, 100%, 48.04%);
    box-shadow: 0 0 0 1px hsl(338.69, 100%, 48.04%);
  }

  .card__bullets {
    line-height: 1.4;
  }
  .card__bullets li::before {
    display: inline-block;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
    transform: translatey(0.25ch);
    margin-right: 1ch;
  }
  .card__heading {
    font-size: 1.05em;
    font-weight: 600;
  }

  .card__price {
    font-size: 1.75em;
    font-weight: 700;
  }
  .scroll-gutter-both {
    scrollbar-gutter: stable both-edges;
  }

  .scroll::-webkit-scrollbar {
    width: 7px; /* Set the width of the scrollbar */
  }
  .scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: gray; /* Customize the thumb color */
  }
  .scroll::-webkit-scrollbar-track {
    background-color: transparent; /* Customize the track color */
  }
  .project-form-h {
    height: calc(100dvh - (50px + 0.75rem));
  }
  .project-form-hh {
    max-height: calc(100% - (40px + 44px + 1.5rem + 16px + 56px));
  }
  @keyframes showTag {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .center-abslute-x {
    left: 50%;
    transform: translateX(-50%);
    right: unset;
    top: unset;
  }

  @media (min-width: 450px) {
    .center-abslute-x {
      left: unset;
      transform: translateX(0);
      right: 0;
      top: 120%;
    }
  }

  .transtion-handle {
    transition: all;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
  }
  .show-tag {
    animation-name: showTag;
    animation-duration: 0.5s;
  }
  .phone-number-width {
    width: 100% !important;
  }
  .phone-input-fields-width {
    width: calc(86% / 3);
  }
  .phone-input-fields-width-two {
    width: calc(70% / 3);
  }
  .tool-tip {
    position: relative;
  }

  .tool-tip::after {
    content: attr(aria-label);
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.5s ease; /* Uncommented and updated */
    position: absolute;
    /* border: 1px solid hsl(0, 0%, 18.82%); */
    background-color: hsla(0, 7%, 53%, 0.486);
    backdrop-filter: blur(2px);
    color: black;
    font-weight: 500;
    font-size: small;
    border-radius: 0.3rem;
    user-select: none;
    z-index: 900;
    text-align: center;
    padding: 4px 6px;
    width: fit-content;
    max-width: 300px;
    word-break: break-all;
    word-wrap: break-word;
    height: fit-content;
    left: 50%; /* Changed from right to left */
    transform: translateX(-50%);
    top: 100%;
  }

  .tool-tip:hover::after {
    visibility: visible;

    opacity: 1; /* Changed from 100 to 1 */
  }

  .center-abslute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .ball {
    position: absolute;
    content: "";
    display: block;
    max-width: 60rem;
    height: 60rem;
    width: 100%;
    background: radial-gradient(circle, #25b998 0, rgba(37, 185, 152, 0) 70%);
    left: -20rem;
    top: -35rem;
    opacity: 0.2;
    pointer-events: none;
  }
  .truncate {
    /* width: 200px; Set an appropriate width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product-list {
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }

  .product-list_mob {
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .form-row > div {
    width: calc(98% / 2);
  }

  .divide-width div {
    width: calc((100% / 2));
  }

  .divide-width-type > * {
    width: calc((100% / 11));
  }
  .divide-width-type-screen > * {
    width: calc((100% / 3));
  }
  .grainy {
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 100%;
      /* z-index: -1; */

      opacity: 40%;
      /* background: #8c8c8c; */
      background: #555050d6;
      filter: url(#noiseFilter);
      z-index: 3;
    }
  }
  .shadow {
    text-shadow: 2px 2px #ff0000;
  }

  .SelectTrigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 13px;
    line-height: 1;
    height: 35px;
    gap: 5px;
    background-color: white;
    color: var(--violet-11);
    box-shadow: 0 2px 10px var(--black-a7);
  }
  .SelectTrigger:hover {
    background-color: var(--mauve-3);
  }
  .SelectTrigger:focus {
    box-shadow: 0 0 0 2px black;
  }
  .SelectTrigger[data-placeholder] {
    color: var(--violet-9);
  }

  .SelectIcon {
    color: Var(--violet-11);
  }

  .SelectContent {
    overflow: hidden;
    background-color: white;
    border-radius: 6px;
    box-shadow:
      0px 10px 38px -10px rgba(22, 23, 24, 0.35),
      0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  }

  .SelectViewport {
    padding: 5px;
  }

  .SelectItem {
    font-size: 13px;
    line-height: 1;
    color: var(--violet-11);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 35px 0 25px;
    position: relative;
    user-select: none;
  }
  .SelectItem[data-disabled] {
    color: var(--mauve-8);
    pointer-events: none;
  }
  .SelectItem[data-highlighted] {
    outline: none;
    background-color: var(--violet-9);
    color: var(--violet-1);
  }

  .SelectLabel {
    padding: 0 25px;
    font-size: 12px;
    line-height: 25px;
    color: var(--mauve-11);
  }

  .SelectSeparator {
    height: 1px;
    background-color: var(--violet-6);
    margin: 5px;
  }

  .SelectItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .SelectScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: white;
    color: var(--violet-11);
    cursor: default;
  }
}
